# Python cache
/**/__pycache__
/**/**/__pycache__

# Django migrations and DB
db.sqlite3

# IDE/Editor files
.idea/
*.iml

# OS-specific
.DS_Store

# Environment
.env
*.env

# train, val dataset
src/classifier/data/

# environments
venv/

# migations 
/**/**/migrations

# model file
/**/**/*.pt          

# front project
Unit6-front-/