printf '
# Environments & Credentials
venv/
.env
# *.env

# Python & Django Cache
**/__pycache__/
*.pyc
*.log
src/config.sock

# Database
db.sqlite3

# Large Data & Models
src/hf_models/
src/classifier/data/
**/*.pt

# OS & IDE Files
.DS_Store
.idea/
*.iml

# Other Projects
Unit6-front-/

# Django Migrations 
**/migrations/
